*{
    
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;

    
}
body{
    overflow: hidden;

}

.loader{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    font-style: italic;
    font-family: "Jura";
    display: flex;
    gap: 2rem;
    align-items: start;
    padding-left: 9vw;
    padding-top: 9vh;
    
}
.loader .counter{
    
    display: flex;
    font-size: 5rem;
    gap: 0rem;
    /* background-color: red; */
    h5{
        text-align: right;
        /* background-color: purple; */
        
        width: 12vw;
    }
    
    
}
.loader .text{
    font-size: 5rem;
    margin-bottom: -10px;
    /* background-color: red; */
    width: 60vw;
    .line{
        
        margin-bottom: -40px;
        overflow: hidden;
    }
    :nth-child(2){
        padding-left: 8vw;
    }
    :nth-child(3){
        padding-left: 14vw;
        ::after{
            content: ".";
            color: rgb(227, 227, 227);
            border-radius: 50%;
            /* filter: drop-shadow(5px 3px 5px red); */
            /* filter: drop-shadow(-3px 5px 60px red); */
            filter: drop-shadow(-4px 6px 32px #ff0000);
            /* text-shadow: 2px 2px 6px red; */
        }
    }
}

#main{
    
    width: 100vw;
    /* background-color: black; */
    display: block;
    .container{
        /* border: 1px solid red; */
        height: 100vh;
        width: 100vw;

        
    }
}

#main .container .mouseDiv{
    z-index: 2;
    width: 2rem;
    overflow: hidden;
    height: 2rem;
    pointer-events: none;
    /* background-color: black; */
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    /* position: ; */
    /* mix-blend-mode:difference; */
    border-radius: 50%;
    

    
}
/* 
@keyframes cir2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);

    }
} */
#main .container{
    background-color: #1f1f24;
    background-color: rgb(2, 2, 2);
    overflow: hidden;

    color: white;
    /* color: #18181B; */
    position: absolute;
    left: 0;
   
}
#main .container .background{
    z-index: -10;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    #logo{
        width: 15rem;
        position: absolute;
        left: 60vw;
        top: -5vh;
    }
    #twoLines{
        position: absolute;
        width: 30vw;
        top: 40px;
        left: -50px;
        z-index: 10;
    }
    #codeLogo{
        /* transform: translateX(-600px); */
       position: absolute;
        /* left: -40px; */
        width: 6rem;
        height: 3rem;
        transform: rotate(-50deg);
    
       /* width: 90%; */
        /* right: -30px; */
        top: -30px;
        /* overflow: hidden; */
       /* background-color: red; */
        /* transform: rotate(60deg); */
    }   
    #esc{
        position: absolute;
        width: 8rem;
        height: 3rem;
        transform: rotate(-30deg);
        top:80%
    }
    #backoutline{
        position: absolute;
    }
    .cir{
        overflow: hidden;
        position: relative;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        /* background-image: linear-gradient(to right top, #003d98, #363eac, #5d39bd, #852dca, #ad00d1); */
        filter: blur(100px);
        opacity: .9;
    }
    #backLine{
        position: absolute;
    }
    #cir1{
        filter: blur(80px);
        /* background-image: linear-gradient(to right top, #ee152a, #ff0054, #ff0082, #fb00b6, #db12eb);
        /* background-image: linear-gradient(to right top, #dcd4ff, #e5dfff, #ede9ff, #f6f4ff, #ffffff); */ 
        /* background-image: linear-gradient(to right top, #ee8b15, #f0a300, #eebb00, #e7d300, #dceb12); */
        left:80vw;
        top:-10vh;
        /* display: none; */
    }
    #cir2{
        /* transform: translateX("200px"); */
        left: 60vh;
        top: 5vh;
        width: 40vw;
        height: 40vw;
        border-radius: 56%;
        /* background-image: linear-gradient(to right top, #080c13, #1d2326, #313938, #4a4f4c, #656662); */
        /* background-image: linear-gradient(to left, #d16ba5, #bc70b0, #a675b6, #8f79b7, #7a7cb4, #6b84ba, #5c8bbd, #4e92be, #36a2c8, #17b1cc, #06c0cb, #2dcec4); */
        animation: cir2 infinite;
        /* background-image: linear-gradient(to right top, #dcd4ff, #e5dfff, #ede9ff, #f6f4ff, #ffffff); */
        /* background-color: #A6A9AE; */
        background-image: linear-gradient(to right top, #003d98, #363eac, #5d39bd, #852dca, #ad00d1);
        
    }
    #codeLogo{
        /* background-color: #003d98; */
        /* z-index: /; */
        /* width: %; */
        /* font-size: 10rem
        hei; */
        position: absolute;
        /* width: 60vw; */
        height: 40vh;
        /* z-index: -1000; */
        transform: translateX(90vw);
        
    }
    #wavyline{
        position: absolute;
        left:80vw;
        top:50vh;
        width: 20vw;
        filter: drop-shadow(-1px 4px 13px #ee00ff);
        
    }
    #rectline{
        filter: drop-shadow(1px 5px 21px #ee00ff);
        filter: drop-shadow(-1px 4px 13px #ee00ff);
        position: absolute;
        left:10vw;
        top:-10vh;
        width: 30vw;

    }
    #cirSVG{
        position: absolute;
        left: 3vw;
        top:20vh
    }
    #rect3{
        position: absolute;
        left: 7vw;
        top: 75vh;
        width: 20rem;
    }
    #back3{
        position: absolute;
        left:70vw;
        opacity: .8;
        filter: drop-shadow(3px 4px 18px #ffa200);
        top:20vh;
    }
}

#main .container .header{
    width: 100%;
    /* background-color: palegoldenrod; */
mix-blend-mode: difference;
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    al */
    /* justify-content: center; */
    /* align-items: center; */
    z-index: 100;
    /* width: fit-content; */
    height: 30vh;
    /* background-color: red; */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Jura';
    .line{
        text-align: center;

        h1{
            /* background-color: red; */
            font-size: 6rem;
            /* position: sticky; */
            /* position: absolute; */
            /* text-align: center; */
            /* color: #852dca; */
            /* overflow: hidden; */
        }
        h3{
            /* text-align: center; */
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 2px;
            overflow: hidden;
        }
        
    }
}


 #main .container #motoText{
    /* overflow: hidden; */
    z-index: 100;
    /* background-color: red; */
    text-align: left;
    width: max-content;
    position: absolute;
    top: 40%;
    left: 2%;
    letter-spacing: 2px;
    font-family: "Comfortaa", sans-serif;
    transform: translateY(-50%);
    #erase{
        position: absolute;
        /* overflow: hidden; */
        left: 18%;
        top: -5%;
        display: none;
    }
    h4{
        font-weight: 500;
        font-size: 1.5rem;
        padding-bottom: .3rem;
    }
    h1{
        padding-bottom: .3rem;
        font-weight: 500;
        /* font-family: "Jura"; */
        font-size: 4.5rem;
        overflow: hidden;
        
    }
 }
 :nth-last-child(1){
    padding-left: 10px;
 }
#main .container .btnDiv{
    z-index: 1;
    position: absolute;
    top:65vh;
    left:50%;
    transform: translateX(-50%);
    
    /* background-color: red; */
    
    button{
        font-size: .9rem;
       outline: none;
       /* position: absolute; */
       overflow: hidden;
        font-family: "Jura";
        font-family: "Space Grotesk", sans-serif;
        /* font-weight: 500; */
        width: 7.8rem;
        
        background-color: transparent;
        background-color: #18181B; 
        height: 3rem; 
        color: #18181B;
        color: white;
        border-radius: 0;
        transition: .3s ease-in-out;
        border-radius: 10px;
        border: none;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        
        
    }
   
    button:hover{
        
        /* background-color: rgb(13, 13, 13);    
        color: white; */
        font-weight: 900;
        
        color: #18181B;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        background-color: #EFEFEF;
        background-color: transparent;
        border: 1px solid black;
        /* transition: .3s ease-in-out; */
    }
    
    
    a{
        text-decoration: none;
    }
    
}
#main .container .quotes{
    position: absolute;
    width: 100vw;
   
    /* background-color: red; */
    top: 87vh;
    z-index: 10;
    font-size: 1.4rem;
    font-family: "Space Grotesk", sans-serif;
    font-family: "Jura";
    /* font-family: "Merienda", cursive; */
    display: flex;
    justify-content: center;
    text-align: center;
    .text{
        font-weight: 900;

        width: 60vw;
        
    }

}

.loader{
    display: none;
}





